{
    "env": {
        "node": true,
        "browser": false,
        "es6": true
    },
    "extends": "eslint:recommended",
    "parserOptions": {
        "sourceType": "module"
    },
    "rules": {
        "accessor-pairs": "warn",
        "array-bracket-spacing": 0,
        "array-callback-return": "warn",
        "arrow-body-style": "warn",
        "arrow-parens": "off",
        "arrow-spacing": "warn",
        "block-scoped-var": "warn",
        "block-spacing": "warn",
        "brace-style": 0,
        "callback-return": "warn",
        "camelcase": "warn",
        "class-methods-use-this": 0,
        "comma-dangle": 0,
        "comma-spacing": 0,
        "comma-style": 0,
        "complexity": "warn",
        "computed-property-spacing": "warn",
        "consistent-return": "warn",
        "consistent-this": 0,
        "curly": "warn",
        "default-case": "warn",
        "dot-location": "warn",
        "dot-notation": "warn",
        "eol-last": "warn",
        "eqeqeq": "warn",
        "func-call-spacing": "warn",
        "func-name-matching": "warn",
        "func-names": 0,
        "func-style": "warn",
        "generator-star-spacing": "warn",
        "global-require": "off",
        "guard-for-in": "warn",
        "handle-callback-err": "warn",
        "id-blacklist": "warn",
        "id-length": "off",
        "id-match": "warn",
        "indent": 0,
        "init-declarations": "warn",
        "jsx-quotes": "warn",
        "key-spacing": "warn",
        "keyword-spacing": "warn",
        "line-comment-position": 0,
        "linebreak-style": [
            "warn",
            "unix"
        ],
        "lines-around-comment": 0,
        "lines-around-directive": "warn",
        "max-depth": 0,
        "max-len": 0,
        "max-lines": 0,
        "max-nested-callbacks": "warn",
        "max-params": "warn",
        "max-statements": 0,
        "max-statements-per-line": 0,
        "multiline-ternary": 0,
        "new-cap": 0,
        "new-parens": "warn",
        "newline-after-var": 0,
        "newline-before-return": 0,
        "newline-per-chained-call": "warn",
        "no-alert": "warn",
        "no-array-constructor": "warn",
        "no-bitwise": "warn",
        "no-caller": "warn",
        "no-catch-shadow": "warn",
        "no-confusing-arrow": "warn",
        "no-continue": "warn",
        "no-div-regex": "warn",
        "no-duplicate-imports": "warn",
        "no-else-return": "warn",
        "no-empty-function": "warn",
        "no-eq-null": "warn",
        "no-eval": "warn",
        "no-extend-native": "warn",
        "no-extra-bind": "warn",
        "no-extra-label": "warn",
        "no-extra-parens": "warn",
        "no-floating-decimal": "warn",
        "no-global-assign": "warn",
        "no-implicit-coercion": "warn",
        "no-implicit-globals": "warn",
        "no-implied-eval": "warn",
        "no-inline-comments": 0,
        "no-invalid-this": 0,
        "no-iterator": "warn",
        "no-label-var": "warn",
        "no-labels": "warn",
        "no-lone-blocks": "warn",
        "no-lonely-if": "warn",
        "no-loop-func": "warn",
        "no-magic-numbers": "warn",
        "no-mixed-operators": "warn",
        "no-mixed-requires": "off",
        "no-multi-spaces": 0,
        "no-multi-str": "warn",
        "no-multiple-empty-lines": 0,
        "no-negated-condition": 0,
        "no-nested-ternary": "warn",
        "no-new": "warn",
        "no-new-func": "warn",
        "no-new-object": "warn",
        "no-new-require": "warn",
        "no-new-wrappers": "warn",
        "no-octal-escape": "warn",
        "no-param-reassign": "warn",
        "no-path-concat": "warn",
        "no-plusplus": 0,
        "no-process-env": "warn",
        "no-process-exit": "warn",
        "no-proto": "warn",
        "no-prototype-builtins": "warn",
        "no-restricted-globals": "warn",
        "no-restricted-imports": "warn",
        "no-restricted-modules": "warn",
        "no-restricted-properties": "warn",
        "no-restricted-syntax": "warn",
        "no-return-assign": "warn",
        "no-script-url": "warn",
        "no-self-compare": "warn",
        "no-sequences": "warn",
        "no-shadow": "warn",
        "no-shadow-restricted-names": "warn",
        "no-spaced-func": "warn",
        "no-sync": "warn",
        "no-tabs": "warn",
        "no-template-curly-in-string": "warn",
        "no-ternary": 0,
        "no-throw-literal": "warn",
        "no-trailing-spaces": 0,
        "no-undef-init": "warn",
        "no-undefined": "warn",
        "no-underscore-dangle": 0,
        "no-unmodified-loop-condition": "warn",
        "no-unneeded-ternary": "warn",
        "no-unsafe-negation": "warn",
        "no-unused-expressions": "warn",
        "no-use-before-define": "warn",
        "no-useless-call": "warn",
        "no-useless-computed-key": "warn",
        "no-useless-concat": "warn",
        "no-useless-constructor": "off",
        "no-useless-escape": "warn",
        "no-useless-rename": "warn",
        "no-var": 0,
        "no-void": "warn",
        "no-warning-comments": "warn",
        "no-whitespace-before-property": "warn",
        "no-with": "warn",
        "object-curly-newline": "warn",
        "object-curly-spacing": "warn",
        "object-property-newline": "warn",
        "object-shorthand": 0,
        "one-var": "warn",
        "one-var-declaration-per-line": "warn",
        "operator-assignment": "warn",
        "operator-linebreak": "warn",
        "padded-blocks": 0,
        "prefer-arrow-callback": "warn",
        "prefer-const": "warn",
        "prefer-numeric-literals": "warn",
        "prefer-reflect": "warn",
        "prefer-rest-params": "warn",
        "prefer-spread": "warn",
        "prefer-template": 0,
        "quote-props": 0,
        "quotes": "off",
        "radix": "warn",
        "require-jsdoc": "warn",
        "rest-spread-spacing": "warn",
        "semi": "warn",
        "semi-spacing": "warn",
        "sort-imports": "off",
        "sort-keys": 0,
        "sort-vars": 0,
        "space-before-blocks": 0,
        "space-before-function-paren": 0,
        "space-in-parens": 0,
        "space-infix-ops": 0,
        "space-unary-ops": "warn",
        "spaced-comment": 0,
        "strict": "warn",
        "symbol-description": "warn",
        "template-curly-spacing": "warn",
        "unicode-bom": [
            "warn",
            "never"
        ],
        "valid-jsdoc": "warn",
        "vars-on-top": "warn",
        "wrap-iife": "warn",
        "wrap-regex": "warn",
        "yield-star-spacing": "warn",
        "yoda": "warn"
    }
}
