<home>
    <div class="callout">
        <a href="http://foundation.zurb.com/sites/docs/"><h5>Foundation 5 template</h5></a>
        <p>It has an easy to override visual style, and is appropriately subdued.</p>
        <a href="http://foundation.zurb.com/sites/docs/">It's dangerous to go alone, take this.</a>
    </div>

</home>
